<div [ngStyle]="{'display': isShow?'block':'none'}"> 
  <div class="light-gps-title" >
    <span class="light-title-brown"></span>
    <p>实时定位</p>
  </div>
  <hr>
  <div class="light-gps-content">
    <div style="height:500px;width:900px">
      <baidu-map [options]="opts">
    <!--图标-->
    <!--<marker *ngFor="let marker of markers" [point]="marker.point" [options]="marker.options"></marker>-->
        <div *ngIf="isReal">
          <marker *ngFor="let marker of markers" [point]="marker.point" (clicked)="showWindow($event,marker)"></marker>
        </div>
        <div *ngIf="isHistory">
          <marker *ngFor="let marker of historyMarkers" [point]="marker.point" (clicked)="showWindow($event,marker)"></marker>
          <polyline [points]="points" [options]="polylineOptions"></polyline>
        </div>
      <!--导航控件-->
   <!-- <control type="navigation" [options]="controlOpts"></control>-->
    <!--地图全景控件-->
   <!-- <control type="overviewmap" [options]="overviewmapOpts"></control>-->
    <!--比例尺-->
        <control type="scale" [options]="scaleOpts"></control>
    <!--地图类型-->
        <control type="maptype" [options]="mapTypeOpts"></control>

        <control type="geolocation" [options]="geolocationOpts"></control>
      </baidu-map>
    </div>
  </div>

  <div class="light-gps-control">
    <div class="gps-button">
      <div class="gps-button-real" (click)="showReal()">
          <span>实时位置</span>
      </div>
      <div class="gps-button-history" >
          <span>历史轨迹</span>
          <div class="time-choice">
            <div class="startdate">开始日期
              <input type="date" [(ngModel)]="startDate" value="startDate"/>
            </div>
            <div class="enddate">结束日期
              <input type="date" [(ngModel)]="endDate" value="endDate"/>
            </div>
            <button (click)="showHistory(gps)">查询</button>
          </div>
      </div> 
      <!--
      <div class="time-choice">
          <nz-datepicker style="width: 40%;" (ngModelChange)="_startDate=$event;_startValueChange()" [ngModel]="_startDate" [nzDisabledDate]="_disabledStartDate" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'Start date'"></nz-datepicker>
          <nz-datepicker style="width: 40%;" (ngModelChange)="_endDate=$event;_endValueChange()" [ngModel]="_endDate" [nzDisabledDate]="_disabledEndDate" [nzShowTime]="_endTime" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'End date'"></nz-datepicker>
      </div> -->
    </div>

    <div [ngStyle]="{'display':isReal?'block':'none'}">
      <nz-table #nzTable>
        
          <thead nz-thead>
            <tr>
              <th>车牌号</th>
              <th>运行速度</th>
              <th>运行方向</th>
              <th>最后更新时间</th>
            </tr>
          </thead>
        
          <tbody nz-tbody>
            <tr nz-tbody-tr> 
              <td>{{marker.title}}</td>
              <td>{{marker.speed}}</td>
              <td>{{marker.direction}}</td>
              <td>{{marker.time | timePipe}}</td>
            </tr>
          </tbody>
      </nz-table>
      </div>

      <div [ngStyle]="{'display':isHistory?'block':'none'}">
        <nz-table #nzTable [nzDataSource]="historyMarkers" [nzPageSize]="50" [nzScroll]="{ y: 300 }">
          <ng-template #nzFixedHeader>
            <thead nz-thead>
              <tr>
                <th nz-th [nzWidth]="'150px'"><span>定位时间</span></th>
                <th nz-th [nzWidth]="'150px'"><span>运行方向</span></th>
                <th nz-th [nzWidth]="'150px'"><span>运行速度</span></th>
                <th nz-th [nzWidth]="'150px'"><span>状态</span></th>
              </tr>
            </thead>
          </ng-template>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of historyMarkers">
              <td nz-td>{{data.time | timePipe}}</td>
              <td nz-td>{{data.direction}}</td>
              <td nz-td>{{data.speed}}</td>
              <td nz-td></td>
            </tr>
          </tbody>
        </nz-table>
        </div>
  </div>
</div>