baidu-map{
    width: 890px;
    height: 500px;
    display: block;
}

.light-gps-table {
  width: 890px;
  height:100px;
  margin:auto;
  background-color: #e5e5e5;
  display:none;
}
table{
  width:800px;
  margin:auto;
  text-align: center;
  border: #2c3b47 1px solid;
  background-color: #e5e5e5;
}

.light-gps-title {
    margin-bottom: 5px;
    padding: 8px 8px 8px 0;
    color: #e5e5e5;
    background-color: #2c3b47;
  }
  
  .light-gps-title .light-title-brown {
    display: inline-block;
    width: 6px;
    height: 26px;
    background-color: #785646;
  }
  
  .light-gps-title p {
    display: inline-block;
    margin: 0 0 0 6px;
    line-height: 26px;
    font-size: 16px;
    vertical-align: top;
  }

  .gps-button{
    /*border:1px solid red;*/
    height: 40px;
    font-size:14px;
  }
  .gps-button-real{
    display: block;
    float:left;
    border-radius: 5px;
    height:30px;
    width:100px;
    line-height:30px;
    background-color: #e5e5e5;
    margin:5px 2px;
    text-align: center;
  }
  .gps-button-real:hover{
    background-color: white;
    cursor: pointer;
    color: black;
  }
  .gps-button-history{
    display: block;
    float:left;
    border-radius:5px;
    height:30px;
    width:580px;
     /*line-height:30px;*/
    background-color: #e5e5e5;
    margin:5px 2px;
 
  
   }
 .gps-button-history span{
   display:block;
   float:left;
   margin: 6px 20px;
   /*border:solid black 1px;*/
 }
 
 .time-choice {
   display:block;
   float:left;
   font-size:12px;
   
   margin:4px
 }
 
 .time-choice div{
   display:block;
   float:left;
   margin: 0 2px
 }
 
 .time-choice button{
   border-radius:10px;
   width:30px;
   margin:0 auto;
   cursor: pointer;
 }
 
  
  .light-gps-content {
    height: 520px;
    width:890px;
    background-color: #2c3b47;
  }

  hr{
    margin: -12px 5px 0 8px;
    height: 1px;
    border:none;
    border-top:1px solid #999;
  }
  