<ul class="tabs">
    <li *ngFor="let device of devices"  
        [ngClass]="isActive(device.name)"
        (click)="activeClk(device.name,device.id)"
    >
        {{device.name}}{{test}}
    </li>
    <!--<li>{{testx}}</li>-->
</ul>    
<div class="blocks" style="min-height:600px;">
            <p>
                <img src="/assets/cfgimages/add.png" class="add" (click)="goAddDevice()">
                <img src="/assets/cfgimages/delete.png" (click)="deleteDevice()">
                <!--<img src="/assets/cfgimages/all.png" (click)="chkall()" alt="" style="float: right;margin-right: 10px"/>
                <img src="/assets/cfgimages/all.png" (click)="unchkall()" alt="" style="float: right;margin-right: 10px"/>-->
                <input #chkalle class="lightCheckbox01" type="checkbox" style="float:right;margin-right:20px;" (click)="chkall(chkalle)">
                <label for="lightCheckbox01" style="float:right;margin-top:9px;">全选</label>
            </p>
            <div style="text-align:center;margin-top:-20px;color:red;">&nbsp;{{retstr}}</div>
            <ul>
                <li *ngFor="let deviceAttr of deviceAttrList">
                    <div class="base">
                        <input type="checkbox" #tflag [checked]="(deviceAttr.isChecked?'checked':'')" (click)="chkdeviceAttr(deviceAttr.key,tflag)"/><span class="check">#{{deviceAttr.key}}</span><span class="temp">{{deviceAttr.name}}</span>
                        <p class="bottom">
                            <span class="orange" *ngIf="deviceAttr.category == 'amperemeter'">电流</span>
                            <span class="orange" *ngIf="deviceAttr.category != 'amperemeter'">{{deviceAttr.config.type}}</span>
                            <img (click)="updateDeviceAttr(deviceAttr.key)" src="/assets/cfgimages/edit.png" class="edit" (click)="goupdatedevice(deviceAttr)"></p>
                    </div>
                    <div class="detail" [class.detaildevice]="deviceAttr.key === dkey">
                        <p><span class="red">* </span>设备名称(name)：<span class="gray">{{deviceAttr.name}}</span></p>
                        <p><span class="hide1">* </span>设备类别(category)：<span class="gray">{{deviceAttr.config.type}}</span></p>
                        <ul class="list" *ngIf="deviceAttr.category == 'sensor'">
                            <li><span class="red">* </span>单位(unit) : <span class="underline">{{deviceAttr.config.unit}}</span></li>
                            <li *ngIf="deviceAttr.config.trans"><span class="red">* </span>值转换(trans) : 
                                <span class="underline" *ngIf="deviceAttr.config.trans.inLow != ''">
                                    {{deviceAttr.config.trans.inLow}},
                                    {{deviceAttr.config.trans.inHig}},
                                    {{deviceAttr.config.trans.outLow}},
                                    {{deviceAttr.config.trans.outHig}}
                                </span>
                                <span class="underline" *ngIf="deviceAttr.config.trans.inLow == ''">
                                    
                                </span>
                            </li>
                            <div style="clear:both;"></div>
                        </ul>
                        <ul class="list" *ngIf="deviceAttr.category == 'controller'">
                            <div *ngIf="deviceAttr.config.type == '两态可控'">
                                <li><span class="red">* </span>指令地址(control_addr) : <span class="underline">{{deviceAttr.control_addr}}</span></li>
                                <li><span class="red">* </span>启动(on) : <span class="underline">{{deviceAttr.on}}</span></li>
                                <li><span class="red">* </span>停止(stop) : <span class="underline">{{deviceAttr.stop}}</span></li>
                                <li><span class="red">* </span>批量启动(batch_on) : <span class="underline">{{deviceAttr.batch_on}}</span></li>
                                <li><span class="red">* </span>批量停止(batch_stop) : <span class="underline">{{deviceAttr.batch_stop}}</span></li>
                                <li><span class="red">* </span>当前电流(cur_key) : <span class="underline">{{deviceAttr.cur_key}}</span></li>
                                <li><span class="red">* </span>最大电流(max_cur_key) : <span class="underline">{{deviceAttr.max_cur_key}}</span></li>
                            </div>
                            <div *ngIf="deviceAttr.config.type == '三态可控'">
                                <li><span class="red">* </span>指令地址(control_addr) : <span class="underline">{{deviceAttr.control_addr}}</span></li>
                                <li><span class="red">* </span>正转(on) : <span class="underline">{{deviceAttr.on}}</span></li>
                                <li><span class="red">* </span>反转(off) : <span class="underline">{{deviceAttr.off}}</span></li>
                                <li><span class="red">* </span>停止(stop) : <span class="underline">{{deviceAttr.stop}}</span></li>
                                <li><span class="red">* </span>批量正转(batch_on) : <span class="underline">{{deviceAttr.batch_on}}</span></li>
                                <li><span class="red">* </span>批量反转(batch_off) : <span class="underline">{{deviceAttr.batch_off}}</span></li>
                                <li><span class="red">* </span>批量停止(batch_stop) : <span class="underline">{{deviceAttr.batch_stop}}</span></li>
                                <li><span class="red">* </span>正转当前电流(on_cur_key) : <span class="underline">{{deviceAttr.on_cur_key}}</span></li>
                                <li><span class="red">* </span>正转最大电流(max_on_cur_key) : <span class="underline">{{deviceAttr.max_on_cur_key}}</span></li>
                                <li><span class="red">* </span>反转当前电流(off_cur_key) : <span class="underline">{{deviceAttr.off_cur_key}}</span></li>
                                <li><span class="red">* </span>反转最大电流(max_off_cur_key) : <span class="underline">{{deviceAttr.max_off_cur_key}}</span></li>
                            </div>
                            <div style="clear:both;"></div>
                        </ul>
                        <ul class="list" *ngIf="deviceAttr.category == 'amperemeter'">
                            <li><span class="red">* </span>指向设备(ref_item) : <span class="underline">{{deviceAttr.ref_item}}</span></li>
                            <li><span class="red">* </span>指向参数(ref_key) : <span class="underline">{{deviceAttr.ref_key}}</span></li>
                            <li><span class="red">* </span>单位(unit) : <span class="underline">{{deviceAttr.unit}}</span></li>
                            <li *ngIf="deviceAttr.config.trans"><span class="red">* </span>值转换(trans) : 
                                <span class="underline">
                                    {{deviceAttr.config.trans.inLow}},
                                    {{deviceAttr.config.trans.inHig}},
                                    {{deviceAttr.config.trans.outLow}},
                                    {{deviceAttr.config.trans.outHig}}
                                </span>
                            </li>
                            <div style="clear:both;"></div>
                        </ul>
                        <p><span class="red">* </span>区域场所：　<span class="gray">{{deviceAttr.region}}</span></p>
                    </div>
                    <!-- 修改 -->
                    <div class="modify"  [class.modifyblock]="deviceAttr.key === ukey">
                        <form #form>
                            <input type="hidden" name="edit_type" value="{{deviceAttr.config.type}}"/>
                            <input type="hidden" name="edit_category" value="{{deviceAttr.category}}"/>
                            <input type="hidden" name="edit_key" value="{{deviceAttr.key}}"/>
                            <p><span class="red">* </span>设备名称：　<input type="text" name="edit_name" class="text" value="{{deviceAttr.name}}"/></p>
                            <p><span class="hide1">* </span>设备类别：　<select id="sel" tabindex="0" disabled="disabled">
                                    <optgroup>
                                        <option *ngIf="deviceAttr.category == 'amperemeter'">电流</option>
                                        <option *ngIf="deviceAttr.category != 'amperemeter'">{{deviceAttr.config.type}}</option>
                                    </optgroup>
                                </select>
                            </p>
                            <ul class="list"  *ngIf="deviceAttr.category == 'amperemeter'">
                                <li><span class="red">* </span>指向设备(ref_item) : <input type="text" name="edit_ref_item" value="{{deviceAttr.ref_item}}"/></li>
                                <li><span class="red">* </span>指向参数(ref_key) : <input type="text" name="edit_ref_key" value="{{deviceAttr.ref_key}}" style="width:100px;"/></li>
                                <li><span class="red">* </span>单位(unit) : <input type="text" name="edit_unit" value="{{deviceAttr.unit}}"/></li>
                                <li style="height:20px;"><span class="red"></span>&nbsp;&nbsp;值转换(trans) : <br>&nbsp;&nbsp;
                                    <input type="text" style="width:50px;" placeholder="inLow" name="edit_inLow" value="{{deviceAttr.config.trans.inLow}}"/>,
                                    <input type="text" style="width:50px;" placeholder="inHig" name="edit_inHigh" value="{{deviceAttr.config.trans.inHig}}"/>,
                                    <input type="text" style="width:50px;" placeholder="outLow" name="edit_outLow" value="{{deviceAttr.config.trans.outLow}}"/>,
                                    <input type="text" style="width:50px;" placeholder="outHig" name="edit_outHigh" value="{{deviceAttr.config.trans.outHig}}"/>
                                </li>
                                <div style="clear:both;"></div>
                            </ul>
                            <ul class="list"  *ngIf="deviceAttr.category == 'sensor'">
                                <li><span class="red">* </span>单位(unit): <input type="text" name="edit_unit" value="{{deviceAttr.config.unit}}"/></li>
                                <li style="height:20px;"><span class="red"></span>&nbsp;&nbsp;值转换(trans) : <br>&nbsp;&nbsp;
                                    <input type="text" style="width:50px;" placeholder="inLow" name="edit_inLow" value="{{deviceAttr.config.trans.inLow}}"/>,
                                    <input type="text" style="width:50px;" placeholder="inHig" name="edit_inHigh" value="{{deviceAttr.config.trans.inHig}}"/>,
                                    <input type="text" style="width:50px;" placeholder="outLow" name="edit_outLow" value="{{deviceAttr.config.trans.outLow}}"/>,
                                    <input type="text" style="width:50px;" placeholder="outHig" name="edit_outHigh" value="{{deviceAttr.config.trans.outHig}}"/>
                                </li>
                                <div style="clear:both;"></div>
                            </ul>
                            <ul class="list"  *ngIf="deviceAttr.category == 'controller'">
                                <div *ngIf="deviceAttr.config.type == '两态可控'">
                                    <li><span class="red">* </span>指令地址(control_addr): <input type="text" name="edit_control_addr" value="{{deviceAttr.control_addr}}"/></li>
                                    <li><span class="red">* </span>启动(on): <input type="text" name="edit_on" value="{{deviceAttr.on}}"/></li>
                                    <li><span class="red">* </span>停止(stop): <input type="text" name="edit_stop" value="{{deviceAttr.stop}}"/></li>
                                    <li><span class="red">* </span>批量启动(batch_on): <input type="text" name="edit_batch_on" value="{{deviceAttr.batch_on}}"/></li>
                                    <li><span class="red">* </span>批量停止(batch_stop): <input type="text" name="edit_batch_stop" value="{{deviceAttr.batch_stop}}"/></li>
                                    <li><span class="red">* </span>当前电流(cur_key): <input type="text" name="edit_cur_key" value="{{deviceAttr.cur_key}}"/></li>
                                    <li><span class="red">* </span>最大电流(max_cur_key): <input type="text" name="edit_max_cur_key" value="{{deviceAttr.max_cur_key}}"/></li>
                                </div>
                                <div *ngIf="deviceAttr.config.type == '三态可控'">
                                    <li><span class="red">* </span>指令地址(control_addr): <input type="text" name="edit_control_addr" value="{{deviceAttr.control_addr}}"/></li>
                                    <li><span class="red">* </span>正转(on): <input type="text" name="edit_on" value="{{deviceAttr.on}}"/></li>
                                    <li><span class="red">* </span>反转(off): <input type="text" name="edit_off" value="{{deviceAttr.off}}"/></li>
                                    <li><span class="red">* </span>停止(stop): <input type="text" name="edit_stop" value="{{deviceAttr.stop}}"/></li>
                                    <li><span class="red">* </span>批量正转(batch_on): <input type="text" name="edit_batch_on" value="{{deviceAttr.batch_on}}"/></li>
                                    <li><span class="red">* </span>批量反转(batch_off): <input type="text" name="edit_batch_off" value="{{deviceAttr.batch_off}}"/></li>
                                    <li><span class="red">* </span>批量停止(batch_stop): <input type="text" name="edit_batch_stop" value="{{deviceAttr.batch_stop}}"/></li>
                                    <li><span class="red">* </span>正转当前电流(on_cur_key): <input type="text" name="edit_on_cur_key" value="{{deviceAttr.on_cur_key}}"/></li>
                                    <li><span class="red">* </span>正转最大电流(max_on_cur_key): <input type="text" name="edit_max_on_cur_key" value="{{deviceAttr.max_on_cur_key}}"/></li>
                                    <li><span class="red">* </span>反转当前电流(off_cur_key): <input type="text" name="edit_off_cur_key" value="{{deviceAttr.off_cur_key}}"/></li>
                                    <li><span class="red">* </span>反转最大电流(max_off_cur_key): <input type="text" name="edit_max_off_cur_key" value="{{deviceAttr.max_off_cur_key}}"/></li>
                                </div>
                                <div style="clear:both;"></div>
                            </ul>
                            <p><span class="red">* </span>区域场所：　<input type="text" class="text" name="edit_region" value="{{deviceAttr.region}}"/></p>
                            <p>
                                <input type="button" class="save" (click)="updateDeviceAttrSave(form)"/>
                                <input type="button" class="cancel" (click)="canelDddDevice()"/>
                            </p>
                        </form>
                    </div>
                    <img src="/assets/cfgimages/up.png" *ngIf="deviceAttr.key==imgkey" class="more" (click)="closedetailDevice(deviceAttr,imagename)">
                    <img src="/assets/cfgimages/more.png"  *ngIf="deviceAttr.key!=imgkey" class="more" (click)="detailDevice(deviceAttr,imagename)">

                </li>
                <div style="clear:both;"></div>
            </ul>
        </div>
<div class="dark" [ngStyle]="{'display': device_add?'block':'none'}">
    <div class="addblock" style="height:600px;overflow:auto;width:550px;">
        <p class="title">添加设备</p>
        <form #formadd class="addcontent" style="width:500px;">
            <p><span class="red"> </span>设备　ID：　<input type="text" class="text" [(ngModel)]="_key" name="_key"/></p>
            <p><span class="red"> </span>设备名称：　<input type="text" class="text" [(ngModel)]="_name" name="_name"/></p>
            <p><span class="hide1"> </span>设备类别：　
                <select id="sel2" tabindex="0" [(ngModel)]="_category" name="_category" (change)="categoryChange($event.target.value)">
                    <optgroup >
                        <option *ngFor = "let dcl of deviceCategoryList"  >{{dcl.name}}</option>
                    </optgroup>
                </select>
            </p>
            <p><span class="red"> </span>区域场所：　<input type="text" class="text" [(ngModel)]="_region" name="_region"/></p>
            <div id="base_add" [ngStyle]="{'display': base_add?'block':'none'}">
                <p><span class="red"> </span>设备单位：　<input type="text" class="text" [(ngModel)]="_wdunit" name="_wdunit"/></p>
                <p><span class="red"></span>值转换(trans)：　
                        <input type="text" style="width:50px;" placeholder="inLow" [(ngModel)]="_1A1inLow" name="_1A1inLow"/>,
                        <input type="text" style="width:50px;" placeholder="inHig" [(ngModel)]="_1A1inHig" name="_1A1inHig"/>,
                        <input type="text" style="width:50px;" placeholder="outLow" [(ngModel)]="_1A1outLow" name="_1A1outLow"/>,
                        <input type="text" style="width:50px;" placeholder="outHig" [(ngModel)]="_1A1outHig" name="_1A1outHig"/>
                    </p>
            </div>

            <!--两态-->
            <div id="two_state_add" [ngStyle]="{'display': two_state_add?'block':'none'}">
                <p><span class="red"></span>指令地址(control_addr)：　<input type="text" class="text" [(ngModel)]="_2control_addr" name="control_addr"/></p>
                <p><span class="red"></span>启动(on)：　<input type="text" class="text" [(ngModel)]="_2on" name="_on"/></p>
                <p><span class="red"></span>停止(stop)：　<input type="text" class="text" [(ngModel)]="_2stop" name="_stop"/></p>
                <p><span class="red"></span>批量启动(batch_on)：　<input type="text" class="text" [(ngModel)]="_2batch_on" name="_batch_on"/></p>
                <p><span class="red"></span>批量停止(batch_stop)：　<input type="text" class="text" [(ngModel)]="_2batch_stop" name="_batch_stop"/></p>
                <p><span class="red"></span>电流ID(cur_key)：　<input type="text" class="text" [(ngModel)]="_2cur_key" name="_cur_key"/></p>
                <p><span class="red"></span>最大电流ID(max_cur_key)：　<input type="text" class="text" [(ngModel)]="_2max_cur_key" name="_max_cur_key"/></p>
                <div style="margin-left:10px">
                    <p><span class="red"></span>电流采集值的ID(cur_key)：</p>
                    <p><span class="red"></span>电流ID(key)：　<input type="text" class="text" [(ngModel)]="_2A1key" name="_2A1key"/></p>
                    <p><span class="red"></span>名称(name)：　<input type="text" class="text" [(ngModel)]="_2A1name" name="_2A1name"/></p>
                    <p><span class="red"></span>区域(region)：　<input type="text" class="text" [(ngModel)]="_2A1region" name="_2A1region"/></p>
                    <p><span class="red"></span>类型(category)：　<input type="text" class="text"  name="_2A1category" value="amperemeter" disabled/></p>
                    <p><span class="red"></span>指向设备(ref_item)：　<input type="text" class="text" [(ngModel)]="_2A1ref_item" name="_2A1ref_item"/></p>
                    <p><span class="red"></span>指向参数(ref_key)：　 <input type="text" class="text" [(ngModel)]="_2A1ref_key" name="_2A1ref_key"/></p>
                    <p><span class="red"></span>单位(unit)：　<input type="text" class="text" [(ngModel)]="_2A1unit" name="_2A1unit"/></p>
                    <p><span class="red"></span>值转换(trans)：　
                        <input type="text" style="width:50px;" placeholder="inLow" [(ngModel)]="_2A1inLow" name="_2A1inLow"/>,
                        <input type="text" style="width:50px;" placeholder="inHig" [(ngModel)]="_2A1inHig" name="_2A1inHig"/>,
                        <input type="text" style="width:50px;" placeholder="outLow" [(ngModel)]="_2A1outLow" name="_2A1outLow"/>,
                        <input type="text" style="width:50px;" placeholder="outHig" [(ngModel)]="_2A1outHig" name="_2A1outHig"/>
                    </p>
                    <p><span class="red"></span>最大电流采集值的ID(max_cur_key)：</p>
                    <p><span class="red"></span>电流ID(key)：　<input type="text" class="text" [(ngModel)]="_2A2key" name="_2A2key"/></p>
                    <p><span class="red"></span>名称(name)：　<input type="text" class="text" [(ngModel)]="_2A2name" name="_2A2name"/></p>
                    <p><span class="red"></span>区域(region)：　<input type="text" class="text" [(ngModel)]="_2A2region" name="_2A2region"/></p>
                    <p><span class="red"></span>类型(category)：　<input type="text" class="text"  name="_2A2category" value="amperemeter" disabled/></p>
                    <p><span class="red"></span>指向设备(ref_item)：　<input type="text" class="text" [(ngModel)]="_2A2ref_item" name="_2A2ref_item"/></p>
                    <p><span class="red"></span>指向参数(ref_key)：　<input type="text" class="text" [(ngModel)]="_2A2ref_key" name="_2A2ref_key"/></p>
                    <p><span class="red"></span>单位(unit)：　<input type="text" class="text" [(ngModel)]="_2A2unit" name="_2A2unit"/></p>
                    <p><span class="red"></span>值转换(trans)：　
                        <input type="text" style="width:50px;" placeholder="inLow" [(ngModel)]="_2A2inLow" name="_2A2inLow"/>,
                        <input type="text" style="width:50px;" placeholder="inHig" [(ngModel)]="_2A2inHig" name="_2A2inHig"/>,
                        <input type="text" style="width:50px;" placeholder="outLow" [(ngModel)]="_2A2outLow" name="_2A2outLow"/>,
                        <input type="text" style="width:50px;" placeholder="outHig" [(ngModel)]="_2A2outHig" name="_2A2outHig"/>
                    </p>
                </div>
            </div>
            <!--三态-->
            <div id="three_state_add" [ngStyle]="{'display': three_state_add?'block':'none'}">
                <p><span class="red"></span>指令地址(control_addr)：　<input type="text" class="text" [(ngModel)]="_3control_addr" name="_3control_addr"/></p>
                <p><span class="red"></span>正转(on)：　<input type="text" class="text" [(ngModel)]="_3on" name="_3on"/></p>
                <p><span class="red"></span>反转(off)：　<input type="text" class="text" [(ngModel)]="_3off" name="_3off"/></p>
                <p><span class="red"></span>停止(stop)：　<input type="text" class="text" [(ngModel)]="_3stop" name="_3stop"/></p>
                <p><span class="red"></span>批量正转(batch_on)：　<input type="text" class="text" [(ngModel)]="_3batch_on" name="_3batch_on"/></p>
                <p><span class="red"></span>批量反转(batch_off)：　<input type="text" class="text" [(ngModel)]="_3batch_off" name="_3batch_off"/></p>
                <p><span class="red"></span>批量停止(batch_stop)：　<input type="text" class="text" [(ngModel)]="_3batch_stop" name="_3batch_stop"/></p>
                <p><span class="red"></span>正转电流ID(on_cur_key)：　<input type="text" class="text" [(ngModel)]="_3on_cur_key" name="_3on_cur_key"/></p>
                <p><span class="red"></span>正转最大电流ID(max_on_cur_key)：　<input type="text" class="text" [(ngModel)]="_3max_on_cur_key" name="_3max_on_cur_key"/></p>
                <p><span class="red"></span>反转电流ID(off_cur_key)：　<input type="text" class="text" [(ngModel)]="_3off_cur_key" name="_3off_cur_key"/></p>
                <p><span class="red"></span>反转最大电流ID(max_off_cur_key)：　<input type="text" class="text" [(ngModel)]="_3max_off_cur_key" name="_3max_off_cur_key"/></p>
                <div style="margin-left:10px">
                    <p><span class="red"></span>正转电流采集值的ID(on_cur_key)：</p>
                    <p><span class="red"></span>电流ID(key)：　<input type="text" class="text" [(ngModel)]="_3Aonkey" name="_3Aonkey"/></p>
                    <p><span class="red"></span>名称(name)：　<input type="text" class="text" [(ngModel)]="_3Aonname" name="_3Aonname"/></p>
                    <p><span class="red"></span>区域(region)：　<input type="text" class="text" [(ngModel)]="_3Aonregion" name="_3Aonregion"/></p>
                    <p><span class="red"></span>类型(category)：　<input type="text" class="text"  name="_3Aoncategory" value="amperemeter" disabled/></p>
                    <p><span class="red"></span>指向设备(ref_item)：　<input type="text" class="text" [(ngModel)]="_3Aonref_item" name="_3Aonref_item"/></p>
                    <p><span class="red"></span>指向参数(ref_key)：　 <input type="text" class="text" [(ngModel)]="_3Aonref_key" name="_3Aonref_key"/></p>
                    <p><span class="red"></span>单位(unit)：　<input type="text" class="text" [(ngModel)]="_3Aonunit" name="_3Aonunit"/></p>
                    <p><span class="red"></span>值转换(trans)：　
                        <input type="text" style="width:50px;" placeholder="inLow" [(ngModel)]="_3AoninLow" name="_3AoninLow"/>,
                        <input type="text" style="width:50px;" placeholder="inHig" [(ngModel)]="_3AoninHig" name="_3AoninHig"/>,
                        <input type="text" style="width:50px;" placeholder="outLow" [(ngModel)]="_3AonoutLow" name="_3AonoutLow"/>,
                        <input type="text" style="width:50px;" placeholder="outHig" [(ngModel)]="_3AonoutHig" name="_3AonoutHig"/>
                    </p>
                    <p><span class="red"></span>正转最大电流采集值的ID(max_on_cur_key)：</p>
                    <p><span class="red"></span>电流ID(key)：　<input type="text" class="text" [(ngModel)]="_3Amaxonkey" name="_3Amaxonkey"/></p>
                    <p><span class="red"></span>名称(name)：　<input type="text" class="text" [(ngModel)]="_3Amaxonname" name="_3Amaxonname"/></p>
                    <p><span class="red"></span>区域(region)：　<input type="text" class="text" [(ngModel)]="_3Amaxonregion" name="_3Amaxonregion"/></p>
                    <p><span class="red"></span>类型(category)：　<input type="text" class="text"  name="_3Amaxoncategory" value="amperemeter" disabled/></p>
                    <p><span class="red"></span>指向设备(ref_item)：　<input type="text" class="text" [(ngModel)]="_3Amaxonref_item" name="_3Amaxonref_item"/></p>
                    <p><span class="red"></span>指向参数(ref_key)：　 <input type="text" class="text" [(ngModel)]="_3Amaxonref_key" name="_3Amaxonref_key"/></p>
                    <p><span class="red"></span>单位(unit)：　<input type="text" class="text" [(ngModel)]="_3Amaxonunit" name="_3Amaxonunit"/></p>
                    <p><span class="red"></span>值转换(trans)：　
                        <input type="text" style="width:50px;" placeholder="inLow" [(ngModel)]="_3AmaxoninLow" name="_3AmaxoninLow"/>,
                        <input type="text" style="width:50px;" placeholder="inHig" [(ngModel)]="_3AmaxoninHig" name="_3AmaxoninHig"/>,
                        <input type="text" style="width:50px;" placeholder="outLow" [(ngModel)]="_3AmaxonoutLow" name="_3AmaxonoutLow"/>,
                        <input type="text" style="width:50px;" placeholder="outHig" [(ngModel)]="_3AmaxonoutHig" name="_3AmaxonoutHig"/>
                    </p>
                    <p><span class="red"></span>反转电流采集值的ID(off_cur_key)：</p>
                    <p><span class="red"></span>电流ID(key)：　<input type="text" class="text" [(ngModel)]="_3Aoffkey" name="_3Aoffkey"/></p>
                    <p><span class="red"></span>名称(name)：　<input type="text" class="text" [(ngModel)]="_3Aoffname" name="_3Aoffname"/></p>
                    <p><span class="red"></span>区域(region)：　<input type="text" class="text" [(ngModel)]="_3Aoffregion" name="_3Aoffregion"/></p>
                    <p><span class="red"></span>类型(category)：　<input type="text" class="text"  name="_3Aoffcategory" value="amperemeter" disabled/></p>
                    <p><span class="red"></span>指向设备(ref_item)：　<input type="text" class="text" [(ngModel)]="_3Aoffref_item" name="_3Aoffref_item"/></p>
                    <p><span class="red"></span>指向参数(ref_key)：　 <input type="text" class="text" [(ngModel)]="_3Aoffref_key" name="_3Aoffref_key"/></p>
                    <p><span class="red"></span>单位(unit)：　<input type="text" class="text" [(ngModel)]="_3Aoffunit" name="_3Aoffunit"/></p>
                    <p><span class="red"></span>值转换(trans)：　
                        <input type="text" style="width:50px;" placeholder="inLow" [(ngModel)]="_3AoffinLow" name="_3AoffinLow"/>,
                        <input type="text" style="width:50px;" placeholder="inHig" [(ngModel)]="_3AoffinHig" name="_3AoffinHig"/>,
                        <input type="text" style="width:50px;" placeholder="outLow" [(ngModel)]="_3AoffoutLow" name="_3AoffoutLow"/>,
                        <input type="text" style="width:50px;" placeholder="outHig" [(ngModel)]="_3AoffoutHig" name="_3AoffoutHig"/>
                    </p>
                    <p><span class="red"></span>反转最大电流采集值的ID(max_off_cur_key)：</p>
                    <p><span class="red"></span>电流ID(key)：　<input type="text" class="text" [(ngModel)]="_3Amaxoffkey" name="_3Amaxoffkey"/></p>
                    <p><span class="red"></span>名称(name)：　<input type="text" class="text" [(ngModel)]="_3Amaxoffname" name="_3Amaxoffname"/></p>
                    <p><span class="red"></span>区域(region)：　<input type="text" class="text" [(ngModel)]="_3Amaxoffregion" name="_3Amaxoffregion"/></p>
                    <p><span class="red"></span>类型(category)：　<input type="text" class="text"  name="_3Amaxoffcategory" value="amperemeter" disabled/></p>
                    <p><span class="red"></span>指向设备(ref_item)：　<input type="text" class="text" [(ngModel)]="_3Amaxoffref_item" name="_3Amaxoffref_item"/></p>
                    <p><span class="red"></span>指向参数(ref_key)：　 <input type="text" class="text" [(ngModel)]="_3Amaxoffref_key" name="_3Amaxoffref_key"/></p>
                    <p><span class="red"></span>单位(unit)：　<input type="text" class="text" [(ngModel)]="_3Amaxoffunit" name="_3Amaxoffunit"/></p>
                    <p><span class="red"></span>值转换(trans)：　
                        <input type="text" style="width:50px;" placeholder="inLow" [(ngModel)]="_3AmaxoffinLow" name="_3AmaxoffinLow"/>,
                        <input type="text" style="width:50px;" placeholder="inHig" [(ngModel)]="_3AmaxoffinHig" name="_3AmaxoffinHig"/>,
                        <input type="text" style="width:50px;" placeholder="outLow" [(ngModel)]="_3AmaxoffoutLow" name="_3AmaxoffoutLow"/>,
                        <input type="text" style="width:50px;" placeholder="outHig" [(ngModel)]="_3AmaxoffoutHig" name="_3AmaxoffoutHig"/>
                    </p>
                </div>
            </div>
            <p style="margin-top: 40px">
                <!--<input type="button" class="save" (click)="addDevice()"/>-->
                <input type="button" class="save" (click)="doAddDevice(formadd)"/>
                <input type="button" class="cancel" (click)="canelDddDevice()"/>
            </p>
        </form>
    </div>
</div>
