/*lightiot*/
body {
    margin: 0;
    font: 12px "Microsoft YaHei";
    background-color: #152341;
}

ul,p{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cfg-body{
    background-color: #152341;
    margin: 0;
    font: 12px "Microsoft YaHei";
}

.light-bg {
    width: 100%;
    min-width: 1280px;
    margin-top:8px;
}

.light-header {
    width: 90%;
    height: 90px;
    margin: 0 auto;
}

.light-header-title {
}

.light-header-title > img{
    margin-top: 27px;
}

.light-header-title > span{
    font-size: 32px;
    line-height: 90px;
    color: #81a348;
    overflow:hidden;
}

.light-header-admin {
    float:right;
    width: 200px;
    color: #e5e5e5;
    margin-top: 10px;
}

.light-header-admin li{
    display: inline-block;
    width: 90px;
    height:38px;
    line-height: 38px;
    cursor: pointer;
}

.light-header-admin li>img{
    vertical-align: middle;
}

.light-body {
    position:relative;
    width: 1280px;
    height: 840px;
    margin: 0 auto;
}

.light-left {
    position:absolute;
    margin-bottom: 10px;
    width: 900px;
}

.light-left .light-entity{
}

.light-left .light-entity li{
    display: inline-block;
    width: 148px;
    height:38px;
    background: url(/assets/cfgimages/entitytabwhite.png) no-repeat;
}

.light-left .light-entity li>span{
    display: inline-block;
    padding-left: 20px;
    width: 90px;
    line-height: 38px;
    font-size: 18px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: pointer;
}

.light-left .light-entity li>div{
    float: right;
    margin: 7px;
    width: 22px;
    height: 22px;
    background: url(/assets/cfgimages/entitycloseblack.png) no-repeat;
    cursor: pointer;
}

.light-left .light-entity li.on,.light-left .light-entity li:hover {
    color: #e5e5e5;
    background: url(/assets/cfgimages/entitytabblack.png) no-repeat;
}

.light-left .light-entity li>div:hover {
    background: url(/assets/cfgimages/entityclosewhite.png) no-repeat;
}

.light-left .light-left-content{
    margin-top: -4px;
    padding: 5px 5px 15px 5px;
    background-color: #2c3b47;
    border: 1px solid #4c6577;
}

.light-data {}

.light-data .light-data-title {
    margin: 8px;
    color: #e5e5e5;
}

.light-data .light-data-title .light-title-blue {
    display: inline-block;
    width: 6px;
    height: 26px;
    background-color: #2198f2;
}

.light-data .light-data-title p {
    display: inline-block;
    margin: 0 0 0 6px;
    line-height: 26px;
    font-size: 16px;
    vertical-align: top;
}

.light-data .light-data-content {}

.light-data .light-data-content ul li{
    position: relative;
    display: inline-block;
    margin-left: 8px;
    width: 210px;
    height: 72px;
    background-color: #e5e5e5;
}

.light-data .light-data-content ul li .data-type-sun{
    position: absolute;
    width: 80px;
    height: 72px;
    background: #d4e256;
}

.light-data .light-data-content ul li .data-type-sun img{
    padding:10px 0 5px 27px;
}

.light-data .light-data-content ul li .data-type-sun p{
    text-align: center;
}

.light-data .light-data-content ul li .data-type-temperature{
    position: absolute;
    width: 80px;
    height: 72px;
    background: #28b7f6;
}

.light-data .light-data-content ul li .data-type-temperature img{
    padding:10px 0 5px 35px;
}

.light-data .light-data-content ul li .data-type-temperature p{
    text-align: center;
}

.light-data .light-data-content ul li .data-type-shidu{
    position: absolute;
    width: 80px;
    height: 72px;
    background: #4db6ac;
}

.light-data .light-data-content ul li .data-type-shidu img{
    padding:10px 0 5px 35px;
}

.light-data .light-data-content ul li .data-type-shidu p{
    text-align: center;
}

.light-data .light-data-content ul li .data-type-co2{
    position: absolute;
    width: 80px;
    height: 72px;
    background: #81c784;
}

.light-data .light-data-content ul li .data-type-co2 img{
    padding:10px 0 5px 35px;
}

.light-data .light-data-content ul li .data-type-co2 p{
    text-align: center;
}

.light-data .light-data-content ul li .data-value{
    position: absolute;
    margin-left: 80px;
    width: 130px;
    height: 72px;
    text-align: right;
    color: #666;
}

.light-data .light-data-content ul li .data-value .data-big-gray{
    margin: 15px 5px 0 0;
    font-size: 18px;
}

.light-data .light-data-content ul li .data-value .data-small-gray{
    margin-right: 5px;
    font-size: 12px;
}

.light-control {}

.light-control .light-control-title {
    margin: 8px;
    color: #e5e5e5;
}

.light-control .light-control-title .light-title-violet {
    display: inline-block;
    width: 6px;
    height: 26px;
    background-color: #b969c7;
}

.light-control .light-control-title p {
    display: inline-block;
    margin: 0 0 0 6px;
    line-height: 26px;
    font-size: 16px;
    vertical-align: top;
}

.light-control>hr {
    margin: -12px 5px 0 8px;
    height: 1px;
    border:none;
    border-top:1px solid #999;
}

.light-control .light-checkbox {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #e5e5e5;
}

.light-control .light-checkbox .batch-check-all {
    margin-left: 10px;
}

.light-control .light-checkbox .batch-check-all {
    margin-left: 10px;
}

.checkbox {
    position: relative;
    display: inline-block;
    padding: 10px 0;
    line-height: 18px;
}

.checkbox .lightCheckbox01 + label:before,
.checkbox .lightCheckbox01:not(:checked) + label:before {
    background: #fff url(/assets/cfgimages/checkbox01.png);
}

.checkbox .lightCheckbox02 + label:before,
.checkbox .lightCheckbox02:not(:checked) + label:before {
    background: #fff url(/assets/cfgimages/checkbox02.png);
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: " ";
    height: 18px;
    left: 0;
    position: absolute;
    width: 18px;
}

input[type="checkbox"]:not(:checked):focus + label:before,
input[type="checkbox"]:not(:checked) + label:hover:before {
    background-position: -20px 0;
}

input[type="checkbox"]:checked + label:before {
    background-position: -40px 0;
}

input[type="checkbox"][disabled]:not(:checked) + label:before {
    background-position: -60px 0;
}

input[type="checkbox"][disabled]:checked + label:before {
    background-position: -80px 0;
}

.light-control .light-checkbox .batch-botton {
    float:right;
    height: 42px;
}

.light-control .light-checkbox>span {
    float: right;
    margin: 0 5px;
}

.light-control .light-checkbox .batch-botton .batch-foreward {
    display: inline-block;
    width: 50px;
    height: 42px;
    background: url(/assets/cfgimages/batchforeward.png) center center no-repeat;
    cursor: pointer;
}

.light-control .light-checkbox .batch-botton .batch-open {
    display: inline-block;
    width: 50px;
    height: 42px;
    background: url(/assets/cfgimages/batchopen.png) center center no-repeat;
    cursor: pointer;
}

.light-control .light-checkbox .batch-botton .batch-pause {
    display: inline-block;
    width: 50px;
    height: 42px;
    background: url(/assets/cfgimages/batchpause.png) center center no-repeat;
    cursor: pointer;
}

.light-control .light-checkbox .batch-botton .batch-stop {
    display: inline-block;
    width: 50px;
    height: 42px;
    background: url(/assets/cfgimages/batchstop.png) center center no-repeat;
    cursor: pointer;
}

.light-control .light-checkbox .batch-botton .batch-inversion {
    display: inline-block;
    width: 50px;
    height: 42px;
    background: url(/assets/cfgimages/batchinversion.png) center center no-repeat;
    cursor: pointer;
}

.light-control .light-checkbox .batch-botton .batch-foreward:hover {
    background: url(/assets/cfgimages/batchforewardhover.png) center center no-repeat;
}

.light-control .light-checkbox .batch-botton .batch-open:hover {
    background: url(/assets/cfgimages/batchopenhover.png) center center no-repeat;
}

.light-control .light-checkbox .batch-botton .batch-pause:hover {
    background: url(/assets/cfgimages/batchpausehover.png) center center no-repeat;
}

.light-control .light-checkbox .batch-botton .batch-stop:hover {
    background: url(/assets/cfgimages/batchstophover.png) center center no-repeat;
}

.light-control .light-checkbox .batch-botton .batch-inversion:hover {
    display: inline-block;
    width: 50px;
    height: 42px;
    background: url(/assets/cfgimages/batchinversionhover.png) center center no-repeat;
}

.light-control .light-control-content {}

.light-control .light-control-content ul li {
    display: inline-block;
    margin: 3px 0 0 8px;
    width: 208px;
    border: 1px solid #999;
}

.light-control .light-control-content ul li .control-name {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    text-align: center;
}

.light-control .light-control-content ul li .control-name.blue {
    background: #4dd1e1 url(/assets/cfgimages/controlthree.png) 5% 20% no-repeat;
}

.light-control .light-control-content ul li .control-name.purple {
    background: #7987cd url(/assets/cfgimages/controltwo.png) 5% 20% no-repeat;
}

.light-control .light-control-content ul li .control-panel {
    padding: 0 10px;
    height: 190px;
    background: #193850 ;
}

.control-panel .control-time-orange {
    line-height: 32px;
    color: #c47438;
}

.control-panel .control-message-yellow {
    margin-left: 10px;
    line-height: 32px;
    color: #f4e82f;
}

.control-panel .control-light {
    margin: 0 auto;
    padding: 10px 0;
    width: 33px;
    height: 33px;
}

.control-panel .control-light.stop {
    background: url(/assets/cfgimages/lightstop.png) center center no-repeat;
}

.control-panel .control-light.open {
    background: url(/assets/cfgimages/lightopen.png) center center no-repeat;
}

.control-panel .control-light.close {
    background: url(/assets/cfgimages/lightclose.png) center center no-repeat;
}

.control-panel .control-button-foreward {
    display: inline-block;
    margin-top: 5px;
    width: 63px;
    height: 26px;
    background: url(/assets/cfgimages/foreward.png) no-repeat;

}

.control-panel .control-button-pause {
    display: inline-block;
    margin-top: 5px;
    width: 61px;
    height: 26px;
    background: url(/assets/cfgimages/pause.png) no-repeat;
    cursor: pointer;
}

.control-panel .control-button-inversion {
    display: inline-block;
    margin-top: 5px;
    width: 63px;
    height: 26px;
    background: url(/assets/cfgimages/inversion.png) no-repeat;
    cursor: pointer;
}

.control-panel .control-button-open {
    display: inline-block;
    margin: 5px 0 0 30px;
    width: 63px;
    height: 26px;
    background: url(/assets/cfgimages/open.png) no-repeat;
    cursor: pointer;
}

.control-panel .control-button-stop {
    display: inline-block;
    margin-top: 5px;
    width: 63px;
    height: 26px;
    background: url(/assets/cfgimages/stop.png) no-repeat;
    cursor: pointer;
}

.control-panel .control-button-foreward:hover {
    background: url(/assets/cfgimages/forewardhover.png) no-repeat;
}

.control-panel .control-button-pause:hover {
    background: url(/assets/cfgimages/pausehover.png) no-repeat;
}

.control-panel .control-button-inversion:hover {
    background: url(/assets/cfgimages/inversionhover.png) no-repeat;
}

.control-panel .control-button-open:hover {
    background: url(/assets/cfgimages/openhover.png) no-repeat;
}

.control-panel .control-button-stop:hover {
    background: url(/assets/cfgimages/stophover.png) no-repeat;
}

.control-panel .control-glitter-green01 {
    display: inline-block;
    margin: 5px 0 10px 2px;
    width: 58px;
    height: 8px;
    background: url(/assets/cfgimages/green.png) no-repeat;
}

.control-panel .control-glitter-green01.glitter {
    background: url(/assets/cfgimages/green.gif) no-repeat;
}

.control-panel .control-glitter-green02 {
    display: inline-block;
    margin: 5px 0 10px 32px;
    width: 58px;
    height: 8px;
    background: url(/assets/cfgimages/green.png) no-repeat;
}

.control-panel .control-glitter-green02.glitter {
    background: url(/assets/cfgimages/green.gif) no-repeat;
}

.control-panel .control-glitter-gray01 {
    display: inline-block;
    margin: 5px 0 10px 4px;
    width: 58px;
    height: 8px;
    background: url(/assets/cfgimages/gray.png) no-repeat;
}

.control-panel .control-glitter-gray01.glitter {
    background: url(/assets/cfgimages/gray.gif) no-repeat;
}

.control-panel .control-glitter-gray02 {
    display: inline-block;
    margin: 5px 0 10px 4px;
    width: 58px;
    height: 8px;
    background: url(/assets/cfgimages/gray.png) no-repeat;
}

.control-panel .control-glitter-gray02.glitter {
    background: url(/assets/cfgimages/gray.gif) no-repeat;
}

.control-panel .control-glitter-red {
    display: inline-block;
    margin: 5px 0 10px 4px;
    width: 58px;
    height: 8px;
    background: url(/assets/cfgimages/red.png) no-repeat;
}

.control-panel .control-glitter-red.glitter {
    background: url(/assets/cfgimages/red.gif) no-repeat;
}

.control-panel .control-info-blue {
    display: block;
    float: left;
    margin: 2px 0 0 2px;
    width: 90px;
    line-height: 16px;
    color: #5ed1cd;
    font-size: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.control-panel .control-info-purple {
    display: block;
    float: left;
    margin: 2px 0 0 2px;
    width: 90px;
    line-height: 16px;
    color: #ca8aff;
    font-size: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.light-split {
    height: 15px;
}

.light-clear {
    clear:both;
}

.light-right {
    position:absolute;
    width: 380px;
    margin-left: 900px;
}

.light-region {
    margin-left: 5%;
    padding: 20px 0;
    color:#333;
    font-size: 18px;
    background-color: #2c3b47;
}

.light-region>ul{
    width: 300px;
    margin: 0 auto;
}

.light-region>ul>li{
    margin: 5px 0;
    padding: 10px 0;
    text-indent:20px;
    background: #fff153;
    cursor: pointer;
}

.light-region>ul>li>ul{
    display: none;
}
.light-region>ul>li {
    background: url("/assets/cfgimages/down.png") no-repeat bottom #fff153;
    background-size:300px 13px ;
}
.light-region>ul>li>ul>li{
    padding: 5px 0;
    background: #aba94f;
    border-top: 1px solid #2c3b47;
}

/*.light-region>ul>li:hover,*/
/*.light-region>ul>li.on {*/
    /*padding: 10px 0 0 0;*/
/*}*/

.light-region>ul>li:hover,
.light-region>ul>li.on {
    background: url("/assets/cfgimages/up.png") no-repeat bottom #fff153;
    background-size: 300px 11px;
}

.light-region>ul>li:hover>ul,
.light-region>ul>li.on>ul {
    display: block;
}

.light-alert {
    margin-left: 5%;
    width: 95%;
}

.light-alert .light-alert-title {
    margin-bottom: 5px;
    padding: 8px 8px 8px 0;
    color: #e5e5e5;
    background-color: #2c3b47;
}

.light-alert .light-alert-title .light-title-red {
    display: inline-block;
    width: 6px;
    height: 26px;
    background-color: #de1e1e;
}

.light-alert .light-alert-title p {
    display: inline-block;
    margin: 0 0 0 6px;
    line-height: 26px;
    font-size: 16px;
    vertical-align: top;
}

.light-alert .light-alert-content {
    height: 225px;
    background-color: #2c3b47;
}

.light-history {
    margin-left: 5%;
    width: 95%;
}

.light-history .light-history-title {
    margin-bottom: 5px;
    padding: 8px 8px 8px 0;
    color: #e5e5e5;
    background-color: #2c3b47;
}

.light-history .light-history-title .light-title-brown {
    display: inline-block;
    width: 6px;
    height: 26px;
    background-color: #785646;
}

.light-history .light-history-title p {
    display: inline-block;
    margin: 0 0 0 6px;
    line-height: 26px;
    font-size: 16px;
    vertical-align: top;
}

.light-history .light-history-content {
    height: 240px;
    background-color: #2c3b47;
}


/*style*/
html,body {
    width:100%;
    background: #152342;
    height: 100%;
}
.main {
    width: 1300px;
    margin: 0 auto;
}
.tabs {
    list-style: none;
    height: 70px;
    display: block;
}
.tabs li {
    float: left;
    min-width: 120px;
    max-width: 400px;
    margin-right: 5px;
    height:70px;
    background: rgba(255,241,84,.5);
    font-size: 18px;
    line-height: 70px;
    text-align: center;
    color: #4c481a;
    cursor: pointer;
}
.tabs li:hover,.tabs .on {
    background: #fff154;
    color: #4c481a;
}
.blocks {
    background: #ededed;
}
.main p {
    padding-top: 15px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.blocks ul {
    list-style: none;
}
.blocks ul li {
    padding-bottom: 12px;
    float:left;
    width: 305px;
    margin:10px;
}

.base {
    border-right: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    border-top:1px solid #a0a0a0;
    background: #fff;
    padding-bottom: 10px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    background: #fff url(/assets/cfgimages/checkbox.png);
    height: 18px;
    width: 18px;
    background-size:18px ;
    float: left;
    margin-left:8px;
    margin-top: 8px;
}

input[type="checkbox"]:checked {

    background: #fff url(/assets/cfgimages/checked.png);
    background-size:18px ;
}
.check {
    color:#0196d9;
    font-size: 14px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-top: 8px;
}
.temp {
    display: inline-block;
    float: right;
    margin-right: 8px;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    margin-top: 8px;
    color: #808080;
}
.orange {
    color:#ea8b47;
    font-size: 12px;
    display: inline-block;
    margin-top: 8px;
}
.bottom {
    margin-top: 50px !important;
}
.edit {
    float: right;
    margin-right: 8px;
    cursor: pointer;
}

.detail {
    display: none;
    border-right: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    border-top:1px solid #a0a0a0;
    background: #fff;
    padding-bottom: 4px;
}
.detaildevice {
    display: block;
    border-right: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    border-top:1px solid #a0a0a0;
    background: #fff;
    padding-bottom: 4px;
}
.detailnone {
    border-right: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    border-top:1px solid #a0a0a0;
    background: #fff;
    padding-bottom: 4px;
    display: none;
}
.modify {
    border-right: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    border-top:1px solid #a0a0a0;
    background: #fff;
    padding-bottom: 4px;
    display: none;
}
.modifyblock {
    display: block;
    border-right: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    border-top:1px solid #a0a0a0;
    background: #fff;
    padding-bottom: 4px;
}
.more {
    cursor: pointer;
}
.detail p {
    width: 224px;
    margin: 10px auto;
}
.modify p {
    width: 254px;
    margin: 10px auto;
}
.gray {
    color: #909090;
}
.red {
    color:#ff1616;
}
.hide1 {
    color:#fff;
}
.hide {
    color:#eeeeee
}
.underline {
    text-decoration: underline;
    color:#808080;
}
.list {
    background: #eeeeee;
    border:1px solid #b5b5b5;
    width: 254px;
    margin: 15px auto;
}
.blocks .list li {
    background: none;
    height: 2px;
    border: 0;
}

.add {
    cursor: pointer;
}
.list input {
    background: none;
    border-bottom:1px solid #a0a0a0 ;
    border-right: 0;
    border-top:0;
    border-left:0;
    width: 50px;
}
.text {
    background: url('/assets/cfgimages/input.png') no-repeat;
    border: 0;
    height: 24px;
    width: 150px;
    text-indent: 10px;
}
#sel2 {
    border:0;

    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    height: 24px;
    width: 154px;
    text-indent:10px;
    background: url("/assets/cfgimages/select2.png") no-repeat;

}
#sel1 {
    border:0;

    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    height: 24px;
    width: 154px;
    text-indent:10px;
    background: url("/assets/cfgimages/select.png") no-repeat;

}

select::-ms-expand { display: none; }
.save {
    background: url("/assets/cfgimages/save.png") no-repeat;
    width: 80px;
    height: 32px;
    border: 0;
    margin-left: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.cancel {
    background: url("/assets/cfgimages/cancel.png") no-repeat;
    width: 80px;
    cursor: pointer;
    height: 32px;
    border: 0;
}
.dark {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 1;
    background: rgba(0,0,0,.7);
}
.addblock {
    background: #fff;
    width: 400px;
    height: 400px;
    margin: 80px auto;

}
.title {
    background: #7fbf06;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.addcontent {
    width: 254px;
    margin: 40px auto;
}
.addcontent p {
    height: 40px;
}