/*总长度*/
.light-header {
  width: 1280px;
  height: 120px;
  margin: 0 auto;
  /*border:1px solid white;*/
}


/*logo+企业名称*/
.light-header-title > img{
  margin-top: 27px;
}

.light-header-title > span{
  font-size: 32px;
  line-height: 90px;
  color: #81a348;
  overflow:hidden;
  padding-left: 0.5em;
}
/*顶部*/
.light-header-admin {
  float:right;
  
  width:1280px;
  height: 30px;
  color: #e5e5e5;
  margin-top: 0px;
  background-color: #2c3b47;
}

.light-header-admin ul{
  float:right;
}

.light-header-admin li{
  display: inline-block;
  width: 90px;
  height:30px;
  line-height: 30px;
  cursor: pointer;
  /*border:1px solid red;*/
}

.light-header-admin li>img{
  vertical-align: middle;
}

/*左侧欢迎管理员语句*/
.light-header-admin-customer{
  display: block;
  float: left;
  /*border: 1px solid yellow;*/
  height: 30px;
  width: 180px;
  padding:10px 10px
}