<div class="light-header">
  <div class="light-header-admin">
    <div class="light-header-admin-customer">
      <div class="light-header-admin-customer-name">{{user.lastName}}{{user.firstName}}</div>，欢迎登陆易农生产平台
    </div>
    <ul>
      <li (click)="loginCfg()"> 设备管理 | </li>
      <!--<li>{{user.lastName}}{{user.firstName}}，欢迎登陆易农生产平台</li>-->
      <li><img src="assets/img/lightuser.png"> 个人中心 | </li>
      <li (click)="logoutButtonClickHandler()"><img src="assets/img/lightout.png"> 退出系统 </li>
    </ul>
  </div>
  
  <div class="light-header-title">
    <div class="light-header-div">
      <span>{{user.companyName}}</span>
      <div class="light-header-center">
        <div class="center" (click)="logoutButtonClickHandler()">退出系统</div>
         <div class="center">个人中心</div>
         <div class="center" (click)="loginCfg()">设备管理</div>
         <div class="center">控制台</div>
      </div>
    </div>
  </div>

</div>
