<div class="dashboard">
  <div class="light-bg">
    <dashboard-header></dashboard-header>
    <div class="light-body">
      
      <!--left-->
      <div class="light-right">
        <div class="light-region" id="scroll-1">
          <app-region-panel (regionEvent)="onRegionSelect($event)" ></app-region-panel>
        </div>
        <div class="light-split"></div>
        <div class="light-alert">
           <app-alarm-panel></app-alarm-panel>
        </div>
        <div class="light-split"></div>
        <div class="light-obd">
          <app-obdindb [subregion]="subregion"></app-obdindb>
        </div>
      </div>

      <!--right-->
      <div class="light-left">
        <app-tab-control #tabCtrl></app-tab-control>
      </div>
    </div>
    <div style="height: 150px;"></div>
  </div>
  <nz-back-top ></nz-back-top>  
</div>
