<li>
  <div [ngClass]="sensorType.classStr">
    <img [src]="sensorType.imgUrl">
    <p>{{sensorAttr.name}}</p>
  </div>
  <div class="data-value" *ngIf="value; else elseP">
    <p class="data-big-gray">
      {{value|transform:sensorAttr.config.trans}}&nbsp;{{sensorAttr.config.unit}}
    </p>
    <p class="data-small-gray">
      {{time | timePipe}}
    </p>
    <p>
      <i class="anticon anticon-line-chart" (click)="showModal()"></i>
      <nz-modal [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzWidth]="'800px'"
      [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
        <ng-template #modalTitle>
          历史曲线
          <br>
          <nz-radio-group [ngModel]="timeoption1"(ngModelChange)="timeoption1=$event;print(timeoption1)">
            <label nz-radio [nzValue]="1">
              <span>最近一天</span>
            </label>
            <label nz-radio [nzValue]="7">
              <span>最近一周</span>
            </label>
            <label nz-radio [nzValue]="30">
              <span>最近一月</span>
            </label>
            <label nz-radio [nzValue]="90">
              <span>最近三月</span>
            </label>
          </nz-radio-group>
        </ng-template>    
        <ng-template #modalContent>
          <!-- <div [chart] = "stock"></div> -->
         <div class="spining">
          <nz-spin [nzTip] = "'正在努力加载数据...'" [nzSpinning] = "_isSpin">  
            <echarts-ng2 [option]="chartOption" [style]="{'width': '700px', 'height': '500px', 'display': 'inline-block'}"> 
            </echarts-ng2>
          </nz-spin>
         </div>
        </ng-template>
      </nz-modal>
    </p>
  </div>

  <ng-template #elseP>
    <div class="data-value">
      <p class="data-big-gray">
        暂无数据
      </p>
      <p>
          <i class="anticon anticon-line-chart" (click)="showModal()"></i>
          <nz-modal [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzWidth]="'800px'"
          [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
            <ng-template #modalTitle>
              历史曲线
            </ng-template>
            <ng-template #modalContent>
              <!-- <div [chart] = "stock"></div> -->
              <echarts-ng2 [option]="chartOption" [style]="{'width': '700px', 'height': '500px', 'display': 'inline-block'}"></echarts-ng2>
            </ng-template>
          </nz-modal>
        </p>
    </div>
  </ng-template>
</li>
